<% layout("/layouts/boilerplate") -%>
<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filters {
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.7;
  }

  .filters:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filters p {
    font-size: 0.8rem;
  }
  .tax-info {
    display: none;
  }

  .tex-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
</style>

<div id="filters">
  <div class="filters">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
  <div class="filters">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Room</p>
  </div>
  <div class="filters">
    <div><i class="fa-solid fa-city"></i></div>
    <p>Iconic city</p>
  </div>
  <div class="filters">
    <div><i class="fa-solid fa-umbrella-beach"></i></div>
    <p>Beach</p>
  </div>
  <div class="filters">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Hill house</p>
  </div>
  <div class="filters">
    <div><i class="fa-solid fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>
  <div class="filters">
    <div><i class="fa-solid fa-key"></i></div>
    <p>New</p>
  </div>
  <div class="filters">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castal</p>
  </div>
  <div class="filters">
    <div><i class="fa-solid fa-tent"></i></div>
    <p>Camping</p>
  </div>
  <div class="filters">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Ship</p>
  </div>
  <div class="filters">
    <div><i class="fa-solid fa-person-snowboarding"></i></div>
    <p>Skipping</p>
  </div>
  <div class="filters">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Domes</p>
  </div>

  <div class="tex-toggle">
    <div class="form-check form-switch form-check-reverse">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display Total After Taxes</label
      >
    </div>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListings) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="Listing_image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text"><b><%= listing.title %> </b> <br /></p>
        <p>&#8377; <%= listing.price %>/night</p>
        <i class="tax-info">&nbsp; &nbsp;: 18% GST</i>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
